<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- LOGIN MODAL TRIGGER -->
    <div class="container" style="text-align: center;">
        <h1>🌎 International site 🌍</h1>
        <h1>🌌</h1>
        <br>
        <img src="https://photovegh.synology.me/img/dragon_ok.jpg" alt="" style="width: 10%;">
        <br><br><br>
        <button class="btn btn-primary" data-target="#loginModal" data-toggle="modal">Mixed Login</button>
        <br><br>

        <button class="btn btn-outline-danger" onclick="veghSoft()">Return</button>

        <p style="margin-top: 3%; color: royalblue;">This responsive page:</p>
        <p>Web fronend site - nethely.hu</p>
        <p>Web backend site routing - Didigital Ocean Virtual Privat Server with NodeJS + Express (Frankfurt)</p>
        <p>Database - Atlas MongoDB</p>
        <p>Logo - Synology NAS (home)</p>
        <p>Image - Canva cloud (Worldwide)</p>
        <img src="https://media-private.canva.com/8iWDk/MAEtMB8iWDk/1/s.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20211019%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211019T031221Z&X-Amz-Expires=78369&X-Amz-Signature=020ff4ccdb6970be58166ef06836ebeebf3f803d6a33fedf30efaea00c3e9b15&X-Amz-SignedHeaders=host&response-expires=Wed%2C%2020%20Oct%202021%2000%3A58%3A30%20GMT"
            alt="" style="width: 21%;  border: 1px solid #ddd;  border-radius: 4px; padding: 5px;">
    </div>

    <!-- RETURN -->
    <script>
        function veghSoft() {
            console.log('OK');
            window.location = 'http://www.veghsoft.eu'
        }
    </script>

    <!-- LOGIN MODAL -->
    <div class="modal" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" placeholder="Username" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" placeholder="Password" class="form-control" value="">
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="myFunction()">Login</button>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
    <!-- 
        <script src="i:/test/login-page/public/js/script.js "></script>
        <script src="path.join(__dirname, '/public/js/script.js'"></script>
 -->
    <!-- 
 <script>
    const myFunction = () => {
    console.log('script.js is ready');
};
 </script>
 -->
</body>

</html>