<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- LOGIN MODAL TRIGGER -->
    <div class="container" style="text-align: center;">
        <h1>International site</h1>
        <img src="https://photovegh.synology.me/img/dragon_ok.jpg" alt="" style="width: 9%;">
        <br><br>
        <button class="btn btn-primary" data-target="#loginModal" data-toggle="modal" onclick="mixedLogin()">Mixed
            Subscription POST</button>
        <button class="btn btn-outline-danger" onclick="fetchAndRenderPersons()">GET data</button>
        <br><br>
        <button class="btn btn-outline-danger" onclick="veghSoft()">Return</button>
        <h6 style="margin-top: 2%; color: royalblue;">This responsive page:</h6>
        <h6>Web fronend site - nethely.hu</h6>
        <h6>Web backend site routing - Didigital Ocean Virtual Privat Server with NodeJS + Express (Frankfurt)</h6>
        <h6>Database - Atlas MongoDB (Worldwide)</h6>
        <h6>Logo - Synology NAS (home)</h6>
        <h6>Image - 500px (Toronto, Ontario, Kanada)</h6>
        <img src='https://drscdn.500px.org/photo/1039782829/m%3D900/v2?sig=9b05f3692b10f71c8af2d9e34079598794f7318011de2e093ba88ee0a7bc4c73'
            alt="Portrait_resize_sq by Végh Tibor on 500px.com"
            style="width: 9%;  border: 1px solid #ddd;  border-radius: 4px; padding: 5px;">
    </div>
    <div class="container">
        <h2>ATLAS MongoDB Database test</h2>
        <p>The following data is for testing purposes only!</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User name</th>
                    <th>E-mail</th>
                    <th>Message</th>
                    <th>History</th>
                </tr>
            </thead>
            <tbody id="personsData">
            </tbody>
        </table>
    </div>
    <!-- LOGIN MODAL -->
    <div class="modal" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="userName">Username</label>
                        <input type="text" id="userName" placeholder="Username" class="form-control" value="John Doe">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" placeholder="Email" class="form-control" value="test@test.com">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <input type="message" id="message" placeholder="Message" class="form-control"
                            value="This is message 01">
                    </div>
                    <div class="form-group">
                        <label for="history">Histrory</label>
                        <input type="history" id="history" placeholder="Histrory" class="form-control"
                            value="This is history 01">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="sendMongoDB()">Subscription</button>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>